<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyut.accesscontrol.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.tyut.accesscontrol.model.entity.Log">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="logDate" column="logDate" jdbcType="TIMESTAMP"/>
            <result property="totalCheckedIn" column="totalCheckedIn" jdbcType="INTEGER"/>
            <result property="totalCheckedOut" column="totalCheckedOut" jdbcType="INTEGER"/>
            <result property="totalRecognitionFailures" column="totalRecognitionFailures" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,logDate,totalCheckedIn,
        totalCheckedOut,totalRecognitionFailures
    </sql>
</mapper>
